.home-container{
    padding: 20px;
}

.home-container .title-home{
    font-size: 25px;
}

.card-post{
    background-color: #5b8deb;
    padding: 10px;
    border-radius: 6px;
    margin: 10px 0px;
}