@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600&display=swap");

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 14px;

    .app-main {
        .app-header {
            background: #34495e;
            height: 70px;
            line-height: 70px;
            color: #fff;

            .menu-list {
                margin-left: 50px;

                .menu-item {
                    display: inline-block;
                    margin: 0 20px;

                    &:hover {
                        cursor: pointer;
                        color: #f6e58d;
                    }
                }
            }
        }

        .app-content {
            background: #fff;
            min-height: calc(100vh - 120px);
        }

        .app-footer {
            background: #2980b9;
            height: 50px;
            line-height: 50px;
            color: #fff;
        }
    }
}
